body{
    font-size: 15px;
    color: rgb(255, 255, 255);
}
table{
   margin: 100px auto;
   width: 70%;
  
}
h1{
    font-family: 'Big Shoulders Display', cursive;
    Weights: 700;
}
hr{
    color: dimgray;
    border-style: dotted;
    border-width: 5px 0 0 0;
    margin: 10px auto;
    width: 5%;
    padding: 10px 20px;
}
h3{
    font-family: 'Lexend Deca', sans-serif;
    margin: 0px 0px 100px 0px;
    Weights: 400;
    
}
.sedans{ 
    border-radius: 5px 0px 0px 5px;
    padding: 50px 30px;
    text-align: left;
    background-color:   hsl(31, 77%, 52%);
}
.suvs{
    padding: 50px 30px;
    text-align: left;
    background-color:  hsl(184, 100%, 22%);
}
.luxury{
    border-radius: 0px 5px 5px 0px;
    padding: 50px 30px;
    text-align: left;
    background-color: hsl(179, 100%, 13%);
}
.attribution { 
    text-align: center;
    font-size: 11px; 
    color: hsl(228, 45%, 44%);
}
.btn {
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    text-shadow: 1px 1px 3px #666666;
    font-family: Arial;
    color: #ffffff;
    font-size: 15px;
    padding: 10px 20px 10px 20px;
    border: solid #ffffff 2px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #ffffff;
    text-decoration: none;
  }
